<h1> Edit Job Post </h1>

<%= form_tag "/jobs/#{@job.id}", method: :patch do%>

<form>

  <div class="form-group">
    <label for="focusedInput">Title of the Job</label>
    <input type="text" class="form-control" name="title" id="focusedInput"  value="<%= @job.title %>">
  </div>

  <div class="form-group">
    <label for="focusedInput">Job Description</label>
    <textarea class="form-control" name="description" id="focusedInput" rows="3" value="<%= @job.description%>"></textarea>
  </div>

  <div class="form-group">
    <label for="focusedInput">Job Responsibility</label>
    <textarea class="form-control" name="job_responsability" id="focusedInput" rows="3" value="<%= @job.job_responsability%>"></textarea>
  </div>

  <div class="form-group">
    <label for="focusedInput">Job Requirement</label>
    <textarea class="form-control" name="job_requirement" id="focusedInput" rows="3" value="<%= @job.job_requirement%>"></textarea>
  </div>

  <div class="form-group">
    <label for="example-date-input">Deadline</label>
    <input type="date" class="form-control" name="deadline" id="example-date-input" value="<%= @job.deadline%>">
  </div>

  <div class="checkbox">
      <input type="submit" class="btn btn-primary active" name="Create a New Job Post">
  </div>
  </form>
<% end %>