<div class="container-fluid">
  <div class="row">  
    <div class="col-md-2">
    <img src="<%= image_url('getjoblogo.png')%>">
    </div>

    <div class="col-md-8">
      <%= form_tag "/jobs/search", method: :post do %>
        <div class="form">
          <label for="focusedInput"></label>
          <input type="text" class="focusedInput" placeholder="Search a job......" name="search_input">
          <button type="submit" class="btn btn-primary active">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid" id="beside_nav">
<div class="row">

  <div class="col-md-2">
  </div>


    <div class="col-md-8">
      <% @jobs.each do |job| %>      
            <div class="jumbotron">
              <h3 class="title"><%= link_to job.title, "/jobs/#{job.id}" %></h3>
              <p style="font-size: 17px;"><strong>Apply before : </strong><%= job.deadline %></p>
              <p style="font-size: 17px;color:black;""><%= job.description %>
              </p>
            </div>
        <% end %>
    </div>

</div>
</div>








