<h1> Job </h1>

<table class="table table-bordered">
  <tr>
    <th>  Title  </th>
    <th>  Description </th>
  </tr>
  <tr>
    <td><%= @job.title %></td>
    <td><%= @job.description %></td>    
  </tr>

</table>
<%= button_to "Delete", "/jobs/#{@job.id}", method: :delete %>
<%= button_to "Edit", "/jobs/#{@job.id}/edit", method: :get %>
<%= button_to "Apply Now", "/applications/new", method: :get %>