<div class="container-fluid" id="beside_nav">
<div class="row">

  <div class="col-md-2">
  <% if current_user  && current_user.id == @job.user_id  %>
  <p><%= button_to "Edit Job Post", "/jobs/#{@job.id}/edit", method: :get %></p>
  <p><%= button_to "Delete Job Post", "/jobs/#{@job.id}", method: :delete %></p>  
  <% end %>
  </div>

  <div class="col-md-8">      

      <h4><%= @job.title %></h4>
      <p><strong><%=@job.company_name %> Company</strong></p>
      <p><strong>Category: </strong><%= @job.category.name %></p>
      <p><%= @job.description %></p>
      <h4> Responsibility</h4>
      <%= raw(@job.job_responsability) %>
      <h4> Requirements</h4>
      <%= raw(@job.job_requirement) %>
      <h4> How to Apply </h4>
      <p><%= raw(@job.apply_info) %></p>
      <p><strong>Deadline</strong>: <%= @job.deadline %></p>
     <%= form_tag "/applications/new?job_id=#{@job.id} ", method: :get do %>
       <input type="hidden" name="job_id" class="form_control" value="<%= @job.id %>">
      <%= button_to "Apply Now" %>
      <% end %>

      
  </div>
</div>
</div>

<div class="container-fluid" id="beside_nav">
  <div class="row">
    <div class = "col-md-12">
      <% if current_user  && current_user.id == @job.user_id  %>       
        <h3> Applications </h3>
        <% @job.applications.each_slice(2) do |two_applications| %>
            <div class="row">
              <% two_applications.each do |application| %>
                <div class="col-md-6">
                  <div style="font-size:15px;" id="appjumbotron">
                  <h4><%= application.first_name %> <%= application.last_name %> Application</h4> 
                  <p>First Name: <%= application.first_name %></p>
                  <p>Last Name: <%= application.last_name %></p>
                  <p>Gender: <%= application.sex %></p>
                  <p>Nationality: <%= application.nationality %></p>
                  <p>Phone Number: <%= application.phone_number %></p>
                  <p>Email: <%= application.email %></p>
                  <p><%= link_to "Download Resume", application.resume_url %></p>
                  <p><strong>Cover Letter</strong> <%= raw(application.cover_letter) %></p>
                  <p>Highest Degree: <%= application.highest_degree %></p>
                  <p>Experience: <%= application.experience %></p>
                  </div>
                </div>
              <% end %>
             </div>
          <% end %>              
     <% end %>
  </div>
  </div>
  </div>


 
  


