<div class="container">
 <div class="rows">
   <div class="col-md-6">
      <h4> Edit Company Information </h4>

      <%= form_tag "/companies/#{@company.id}", method: :patch do %>

      <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
        <form>
            <div class="form-group">
              <label class="control-label" for="focusedInput">Company Name</label>
              <input class="form-control" id="focusedInput" type="text" name="name" value="<%= @company.name %>">
            </div>

            <div class="form-group">
              <label class="control-label" for="focusedInput">Company Address</label>
              <input class="form-control" id="focusedInput" type="text" name="address" value="<%= @company.address %>">
            </div>

            <div class="form-group">
              <label for="focusedInput">Company Description</label>
              <textarea class="form-control" name="description" id="focusedInput" rows="3"><%= @company.description %></textarea>
            </div>

            <div class="form-group">
              <label for="focusedInput">Email address</label>
              <input type="email" class="form-control" id="focusedInput" name="email" aria-describedby="emailHelp" value="<%= @company.email %>">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
            <label>Official Website</label>
            <textarea name="website" rows="2"><%= raw(@company.website) %></textarea>
              <script>
                  CKEDITOR.replace( 'website' );
              </script>
          </div>

            

            <div class="checkbox">
            <input type="submit" class="btn btn-primary active" value="Edit Account">
          </div>

        </form>

      <% end %>
    </div>
  </div>
</div>