<% if current_user.id == @company.user_id %>
<%= button_to "Add New Job Post", "/jobs/new", method: :get %>
<% end %>

<div class="container-fluid">
<div class="row">

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <h5><%= @company.name %> Company Profile </h5>
    <p><strong>Address: </strong><%= @company.address %></p>
    <p><strong>Description: </strong><%= @company.description %></p>
    <p><strong>Email: </strong><%= @company.email %></p>
    <p><strong>Website</strong><%= raw(@company.website)%></p> 

    <h5><%= @company.name %> Job Posts</h5>
    

  </div>
</div>
<% if current_user.id == @company.user_id  %>
<%= button_to "Delete", "/companies/#{@company.id}", method: :delete %>
<% end %>
</div>
